a, img {
	border: 0;
	outline: 0
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

#body {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#header {
	background: url(../images/header_bg.png) repeat-x;
	width: 100%;
	height: 128px;
	position: relative;
}

#blink {
	visibility: hidden;
	display: none;

	position: absolute;
	top: 90px;
	left: 910px;
	z-index: 1;
}

#blink input{
	width:75px;
}

.noresize {
  resize: none; 
}

#slPlaylist{
  height:117px !important;
}

#logo {
	position: absolute;
	top: 0px;
	left: -3px;
}

#nav {
	background: #353E46;
	position: relative;
	height: 75px;
	width: 100%;
}

#nav a {
	color: #FFF;
	float: left;
	margin: 25px 0 0 0;
	padding: 0 20px 0 20px;
	font-size: 18px;
	text-decoration: none;
	border-right: 1px solid #ffffff;
}

#nav a:last-child {
	padding: 0 0 0 25px;
	border-right: none;
}

#nav .sep {
	float: left;
	margin: 25px 40px 0 0;
	background: #FFF;
	height: 20px;
	width: 1px
}

#message {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	display: none;
	padding: 10px 0 10px 0;
	background: #E6E6E6;
	font-weight: bold;
}

#loading-image {

	display: block;
	margin:0;
	z-index: 1;	

	position:absolute;
	top:167px;
	right:0;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

#content, #content_center {
	min-height: 600px;
	width: 100%;
	margin: 0 0 0 0;
	padding-bottom: 10px;
	position: relative;
	background: #E6E6E6;
}

#content h1, #content_center h1 {
	margin: 0 0 0 0;
	padding: 20px 0 5px 20px;
	text-transform: uppercase;
	font-size: 22px
}

#content h2, #content_center h2 {
	margin: 0 0 0 0;
	padding: 20px 0 5px 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.center {
	width: 500px;
	position: relative;
	margin: 0 auto;
	padding: 5px
}

.bg_white {
	background: #FFF;
	color: #000
}

.bg_green {
	background: #44ee44;
	color: #000
}

.bg_red {
	background: #FF3300;
	color: #000
}

.txt_center {
	text-align: center
}

.gray {
	color: #525252
}

.green {
	color: #1DA41D
}

.red {
	color: #DF0404
}

.small {
	font-size: 12px
}

.medium {
	font-size: 14px
}

.large {
	font-size: 16px
}

#highlight {
	font-weight: bolder;
}

.bolder {
	font-weight: bolder;
	color: #F5812F;
}

.text_submit {
	color: #00E;
	font-size: 14px
}

.clear {
	clear: both
}

#id_mainProductName {
	position: absolute;
	top: 90px;
	left: 29px;
	font-size: 16px;
	text-align: center;
	padding: 2px 5px;
}

#language {
	position: absolute;
	top: 10px;
	right: 4px;
	font-size: 12px;
}

#logout {
	position: absolute;
	top: 33px;
	right: 4px;
}

#loginUP {
	position: absolute;
	top: 33px;
	right: 4px;
}

#id_productStatusWrapper {
	position: absolute;
	top: 108px;
	right: 4px;
}

#id_displayMessageWrapper {
	width: 500px;
	height: 18px;
	position: absolute;
	top: 10px;
	right: 245px;
	border-radius: 4px;
	padding: 8px 5px;
}

#footer {
	font-size: 11px;
	color: #888;
	text-align: center;
	margin: 16px 0 0 0;
}

#id_mainProductStatus {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: solid 1px #FFF;
	text-decoration: none
}

.product_status_green {
	background: #28BE28
}

.product_status_orange {
	background: #EB9800
}

.product_status_red {
	background: #DF0404
}

#config_content {
	margin: 0 0 0 30px;
}

#presets {
	position: absolute;
	padding: 10px;
	background-color: #fff;
	display: none;
}

.error-message {
	padding: 0 0 0 10px;
	display: none;
	color: #e42121;
}

div.fields {
	margin: 0 0 0 30px;
	padding: 0px;
	overflow: hidden;
	clear: both;
}

div.fields-info {
	margin: 0 0 0 30px;
	padding: 0px;
	overflow: hidden;
	clear: both;
	width: 700px;
}

div.field {
	margin: 0px;
	padding: 2px 0 2px 0;
	overflow: hidden;
	clear: both;
}

div.field-right {
	margin:0;
	padding:0;
	float: right;
}

div.field-right label{
	text-align: right;
	width:auto;
	margin: 0 5px 0 0;
}

div.field-right select{
	width: 100px;
}

div.field-right input{
	width: 100px;
}


div.mainwrap {
	margin: 0 30px 30px 30px;
	background: #d3d3d3 none repeat scroll 0 0;
}

div.mainwraposd {
    margin: 0 30px 30px 30px;
    background: #d3d3d3 none repeat scroll 0 0;
}

.left{
	float:left;
}

.right{
    float:right;
}

.cell{
	padding:10px;
}

.plheader1{
    padding:10px;
}

.plhead{
	list-style: none;
	padding: 5px;
	margin:0;
}

.plList li, .plhead li{
    margin: 0;
}

input.playButton{
	color:red; 
	width:30; 
	padding:2px;
	background: #d3d3d3 none repeat scroll 0 0;
}

input.btnCreatePlayList{
    width: 100px;
    margin-left: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

input.btnUpdatePlaylist{
	background: url( ../images/pencil-red-icon.png ); 
	width:30;
}

input.btnPlaylistPause{
	background: url( ../images/Media-Controls-Pause-icon24.png );
	width:30;
}

input.btnPlaylistStop{
    background: url( ../images/Media-Controls-Stop-icon24.png );
    width:30;
}

input.btnPlaylistResume{
    background: url( ../images/media_play_pause_resume24.png );
    width:30;
}

input.btnPlaylistPlay{
    background: url( ../images/Media-Controls-Play-icon24.png );
    width:30;
}

.plItem{
	border-top: 1px solid black;
	padding: 10px 5px 15px 5px;
}

.plItemLeft {
    position: relative;
    height:22px;
}

.plItemRight{
	position: absolute; 
	right: 5; 
	top: 0;
}

/*label {
	width: 200px;
	display: inline-block;
	vertical-align: baseline;
	margin: 0px;
	padding: 0px;

}*/

label.input_fpsgop {
	width: 70px;
	float:none;
	text-align:right;
	vertical-align: baseline;
	margin: 0 5px 0 0;
	padding: 0px;
}

input.input_fpsgop {
	width: 100px;
}

label.input_port {
	width: 37px;
	float:none;
	text-align:right;
	vertical-align: baseline;
	margin: 0 5px 0 0;
	padding: 0px;
}

input.input_text {
	width: 395px;
}

input.input_port {
	width: 68px;
}

select.input_enabled {
	float:right;
	width:100px;
}

select.disabled_enabled
{
	width:100px;
}

label.input_audio {
	width: 150px;
	float:none;
	text-align:right;
	vertical-align: baseline;
	margin: 0 0 0 39px;
	padding: 0px;
}

input.input_audio {
	width: 100px;
}

select.input_audio {
	width: auto;
	float:none;
}

/*label {
	margin: 0;
	padding: 0 0 0 0;
	float: left;
}*/

/*input {
	background: rgb(255, 255, 255);
	margin: 0px;
	padding: 5px 5px 4px;
	font-size: 14px;
}*/

input[type="text"]:disabled{
	background: #dddddd;
	
}

input[type="file"]{
	background: #E6E6E6;
	
}

input.btnImage{
    padding: 0px 0px 3.5px 0px;
}

input.addPlayListButton{
    width: 70px;
    margin-left: 450px;
}

input.scriptButton{
	margin-left: 5px;
	margin-right: 5px;
}

input#btnPause{
	width:80px;
	margin-left: 270px;
}

input#btnContinue{
    width:120px;
}

input#btnAddScript{
	width:120px;
}

/*select {
	margin: 0px;
	padding: 4px 5px 3px;
}*/

#formEncoder {
	width:730px;
}

#formDecoder {
	width:730px;
}

form, input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.input_label_right {
	font-size: 14px
}

.btnSubmit {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
	width:98px;
	margin: 20px 0 0 200px;
}

.btnReset {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
	width:98px;
	margin: 20px 0 0 0;
}

.blink-button {
-webkit-animation: blinker 0.5s infinite; /* Safari 4+ */
-moz-animation:    blinker 0.5s infinite; /* Fx 5+ */
-o-animation:      blinker 0.5s infinite; /* Opera 12+ */
animation:         blinker 0.5s infinite; /* IE 10+, Fx 29+ */
}

.grid {}

.one-one {
    display: inline-block;
    float: left;
    width: 500px;
    height: 200px;
}

.one-two {
    display: inline-block;
    float: left;
    width: 500px;
    height: 200px;
}

.two-one {
    display: inline-block;
    float: left;
    margin-top: 10px;
    width: 500px;
}

.two-two {
    display: inline-block;
    float: left;
    margin-top: 10px;
    width: 500px;
}

@-webkit-keyframes blinker {
	0%, 49% {
		background-color: #FF4500;
		border: 2px solid #FF4500;
	}
	50%, 100% {
		background-color: none;
		border: 2px solid #FF4500;
	}
}

div.bd-example {
	padding: 1.5rem;
}
    
.form-control::placeholder {
    color: #e6e6e6;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #e6e6e6;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: #e6e6e6;
}   
